* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Loop', cursive;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}

    header h4 {
        position: absolute;
        left: 10%;
        bottom: 1rem;
        font-size: 1.6rem;
    }

/* splash screen*/
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

    .logo.active {
        bottom: 0;
        opacity: 1;
        transition: ease-in-out 0.5s;
    }

    .logo.fade {
        bottom: 150px;
        opacity: 0;
        transition: ease-in-out 0.5s;
    }

/*end splash*/

/*VIDEO */

video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/*END VIDEO*/
/*BEING BUTTON*/

viewport{
    position: relative;
    height: 100vh;

}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #A9A9A9;
    margin: 0 0.3em 0.3em 0;
    border-radius: 12px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #A9A9A9;
    text-align: center;
    transition: all 0.2s;
}

    a.button1:hover {
        color: #000000;
        background-color: #FFFFFF;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}


.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*END BUTTON*/